* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Nunito', sans-serif; 
}

/* COMMIT */
.box-80 {
    height: 80px;
    width: 100%;
    padding: 25px 25%;
}

.chevron::after{
    border-style: solid;
    border-width: 0.15em 0.15em 0 0;
    margin: 0 4px;
    content: '';
    display: inline-block;
    height: 0.45em;
    left: 0.15em;
    position: relative;
    top: 0.15em;
    transform: rotate(135deg);
    vertical-align: top;
    width: 0.45em;
}
.checkbox::before {
    content: "  \2714";
    font-size: 11px;
    text-align: center;
    color: white;
    height: 14px;
    width: 14px;
    margin-right: 5px;
    border-radius: 15px;
    display: inline-block;
    background-color: #FE775A;
}

.bottom {
    padding: 15px 20px;
    border-radius: 3px;
    text-decoration: none;
    border: 1px solid #FE775A;
    color: #FE775A;
    margin-right: 15px;
}
.bottom-orange {
    padding: 15px 20px;
    border-radius: 8px;
    text-decoration: none;
    border: 1px solid #FE775A;
    color: white;
    background-color: #FE775A;
}

.bottom-white {
    padding: 10px 15px;
    border-radius: 8px;
    text-decoration: none;
    border: 1px solid white;
    color: #32495B;
    background-color: white;
}

.box_margin_lateral_25 {
    margin: 0 25%;
    display: inline-block;
}


/* BOX-LOGIN */
.box-login {
    font-size: 20px;
    border: 1px solid black;
    background-color: #F4F9FD;
}

header .box-login-left hr {
    position: relative;
    height: 19px;
    top: 0.30em;
    margin: 0 4px;
    border: 1px solid;
    content: '';
    display: inline-block;
    transform: rotate(181deg);
}
.box-login-left {
    float: left;
}
.box-login-right {
    float: right;
}

.box-login-right img {
    height: 25px;
    margin-right: 5px;
    vertical-align: middle;
}

/* BARRA NAVIGAZIONE */
.nav ul {
    float: right;
}

.nav li {
    float: left;
    margin-left: 10px;
    list-style: none;
}

.nav li:hover {
    text-decoration: underline;
    color: rgb(0, 122, 140);
}
/* HOMEPAGE */
.homepage-hero {
    position: relative;
    width: 100%;
    height: 700px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-image: url(../hero.svg);
    background-color: #FFF2EE;
}
.homepage-hero_text {
    position: absolute;
    margin: 20px 25%;
    width: 30%;
    color: rgb(51, 71, 91);
}

.homepage-hero_text h1 {
    font-size: 70px;
}

.homepage-hero_text .box_bottom {
    margin-top: 35px;
}

.homepage-hero_text .box_bottom p {
    margin-top: 35px;
}

.homepage-hero_box {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 107px;
    width: 100%;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    background-color: #07C0A7;
}

/* MAIN */
main {
    background-color: #F5F8FA;
}


main  .info-service .intro {
    text-align: center;
    padding: 5% 0;
}
/* INFO SERCIZI */
.info-service .intro h2 {
    font-size: 35px;
    margin:  1% 0;
}

.info-service .intro p {
    font-size: 15px;
    margin: 2% 15%;
}
.info-service .intro img {
    width: 20%;
}

.info-service .service-free_hubspot_crm {
    height: 400px;
    margin: 50px 0;
    box-shadow: 2px 2px 2px 2px grey;
    background-color: white;
}

.info-service .service-free_hubspot_crm-left {
    float: left;
    width: 350px;
    text-align: center;
    padding: 50px 0;
}

.info-service a {
    padding: 25px 60px;
}

.info-service .service-free_hubspot_crm-left img {
    width: 50%;
    margin: 40px 14%;
}

.info-service .service-free_hubspot_crm-right {
    margin: 10% 0;
    float: left;
}

.info-service .service-free_hubspot_crm-right hr {
    margin: 5px 70px;
    border: 1px solid #899397;
    width: 350px;
    display: inline-block;
    color:#899397;
    background-color:#899397;
}

.info-service .service-free_hubspot_crm-right p {
    font-size: 15px;
    margin-top: 3%;
    padding: 0 25% 0 0;
}
.info-service .service-free_hubspot_crm-right h4 {
    font-size: 20px;
    margin-top: 2%;
    text-transform: uppercase;
}
.info-service .service-free_hubspot_crm-right li {
    font-size: 15px;
    margin: 5px;
    list-style: none;
    float: left;
}
/* LINK SERVIZI */
.service_link .box-service_vertical {
    width: calc(90% / 3);
    margin-right: 5%;
    float: left;
    box-shadow: 2px 2px 2px 2px grey;
    background-color: white;
}

.service_link {
    margin-bottom: 20px;
    display: inline-block;
}

.service_link :last-child {
    margin-right: 0;
}
.info-service .service_link .box-service_vertical {
    padding: 30px 30px 60px 30px;
    text-align: center;
}

.service_link img {
    margin: 10% 30%;
    height: 100px;
}

.service_link p {
    height: 88px;
}

.service_link ul {
    list-style: none;
    text-align: left;
    margin-bottom: 50px;
}

.service_link h4 {
    font-size: 25px;
    margin: 20px 0;
}

.service_link hr {
    margin: 45px 0;
    height: 2px;
}

.service_link h3 {
    margin: 20px 0;
    text-transform: uppercase;
}

/* DATI COMMUNITY */
.data_community {
    width: 100%;
    padding: 3% 0;
    text-align: center;
    background-color: #00ABB6;
    color: white;
}

.data_community h1 {
    font-size: 35px;
    margin-bottom: 2%;
}
.data_community p {
    font-size: 17px;
    margin-bottom: 5%
}


.data {
    width: calc(95% / 4);
    padding: 1%;
    text-align: center;
    border-right: 2px solid white ;
    border-bottom: 2px solid white ;
    float: left;
}
.delete-border_bottom {
    border-bottom:  0;
}

.delete-border_right {
    border-right: 0;
}

.data h2 {
    margin: 15px 0;
    font-size: 40px;
    position: relative;
}

.data h2 span {
    font-size: 25px;
    position: absolute;
    left: 70%;
    top: 15%;
}

/* COLLABORAZIONI CON AZIENDE */
.description-company-collaborations {
    width: 30%;
    padding: 40px 80px;
    float: left;
}
.description-company-collaborations h2 {
    font-size: 55px;
    margin-bottom: 45px;
}
.description-company-collaborations span {
    font-weight: 700;
}

.logo-company-collaborations {
    width: 70%;
    float: left;
    padding: 60px 80px;
}

.logo-company-collaborations img {
    width: calc(80% / 4);
    float: left;
    margin: 15px;
}
/* SERVIZI FREE */
.service-free li {
    margin: 50px 0;
}
.service-free ul {
    width: 40%;
    list-style: none;
}

.service-free img {
    width: 25%;
    float: right;
}

/* FOOTER */
footer {
    background-color: #32495B;
}

.summary ul {
    margin: 20px;
    float: left;
    list-style: none;
    color: #CAD5E1;
}

.summary span {
    font-weight: 900;
    line-height: 4;
    color: white;
}

.summary li {
    margin: 10px;
}

.summary li a {
    margin-right: 30px;
    line-height: 3;
    text-decoration: none;
}

.closing_footer {
    color: #CAD5E1;
}

.closing_footer .lenguage {
    margin: 1% 35%;
    font-size: 20px;
}
.closing_footer .lenguage h4{
    float: left;
    margin-left: 10px;
}
.copyright hr {
    margin-bottom: 30px;
}

.copyright {
    position: relative;
    width: 50%;
    margin-bottom: 50px;
    color: white;
}
.copyright p {
    position: absolute; 
    top: 30px;
}